<div class="login-form">
    <div class="popup-header">
        <mat-icon (click)="closeDialog()">close</mat-icon>
    </div>
    <div class="header-content">
        <h6>Sign In</h6>
    </div>


    <form [formGroup]="loginForm" class="loginForm">
        <div class="form-content">
            <div class="form-row m-3">
                <div class="form-group col-lg-12 col-md-12">
                    <label for="email">Email Address *</label> <input type="email" class="form-control" formControlName="username" id="email" name="email" placeholder="Email Address">
                    <!-- <span class="form-error" ng-show="signin.email.$error.required && signin.email.$dirty">Email
                        address is required</span> -->
                    <!-- <span class="form-error" ng-show="signin.email.$error.pattern">Email address
                        not valid</span> -->

                </div>
                <div class="form-group col-lg-12 col-md-12">
                    <label for="password"> Password *</label> <input type="password" class="form-control" formControlName="password" id="password" name="password" placeholder="Password">
                    <!-- <span class="form-error" ng-show="signin.password.$error.required && signin.password.$dirty">Password
                        is required</span> -->

                </div>

                <div class="form-group col-lg-12 col-md-12">
                    <button type="submit" style="width:100%" class="btn btn-primary btn-block " (click)="login()">Sign in</button>
                </div>


            </div>
        </div>
    </form>
    <mat-divider></mat-divider>
    <div class="modal-footer d-flex justify-content-center">
        <div class="signup-section">
            Not a member yet? <a href="" (click)="signUp($event)" class="text-info"> Sign Up</a>.
        </div>
    </div>
</div>