.login-form {}

mat-dialog-container {
    background-color: bisque;
}

.popup-header {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    mat-icon {
        cursor: pointer;
    }
}

.header-content {
    display: flex;
    justify-content: center;
}

.login_popup_panelclass mat-dialog-container {
    backdrop-filter: blur(10px) !important;
    /* Blur effect for the whole popup background */
    transition: backdrop-filter 0.3s ease;
}

.create_login_backdrop_class {
    backdrop-filter: blur(10px) !important;
    /* Blur effect for the whole popup background */
    transition: backdrop-filter 0.3s ease;
}

::ng-deep .mat-mdc-dialog-surface {
    border-radius: 0px;
}

.loginForm {
    // padding: 20px;
    padding: .5rem !important;
}

h6 {
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 18px;
}

.form {
    padding: 20px;
}

.form-group label {
    font-size: 15px;
    font-weight: 500;
}

.form-group .form-control {
    height: 45px;
    border-radius: 0;
    padding: 0 15px;
}

.form-group .form-control::-moz-placeholder {
    font-size: 13px;
    color: #999;
}

.form-group .form-control::placeholder {
    font-size: 13px;
    color: #999;
}

.form-group .form-control:focus {
    outline: 0;
    border-color: #ffcec7;
    box-shadow: none;
}

.form-group .custom-select {
    font-size: 13px;
    color: #495057;
}

.form-group .custom-multiselect {
    font-size: 13px;
    color: #495057;
}

.form-group textarea.form-control {
    height: 100px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-row {
    // display: flex;
    flex-wrap: wrap;
    // margin-right: -5px;
    // margin-left: -5px;
}

.form-row>.col {
    padding-left: 5px;
    padding-right: 5px;
}

label {
    margin-bottom: 0.5rem;
}

.parent-class {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    background-color: var(--ais-);
    .icon_parent {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 12px;
        cursor: pointer;
    }
    .project_created_class {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            color: var(--ais-color-text);
            font-family: Inter;
            font-weight: 400;
        }
        h4 {
            color: var(--ais-color-text);
            margin: 0px;
            font-family: Inter;
            font-weight: 400;
        }
    }
    .pipeline_type_container {
        padding-bottom: 30px;
        p {
            color: var(--ais-color-text);
        }
        .type_contianer {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            grid-gap: 16px;
            .card_block_class {
                display: flex;
                grid-gap: 12px;
                align-items: center;
                height: 90px;
                width: 356px;
                cursor: pointer;
                background-color: var(--ais-bg-active-code1);
                border-radius: 8px;
                color: var(--ais-color-text);
                font-family: Inter;
                img {
                    margin-left: 14px;
                    width: 32px;
                    height: 32px;
                    font-size: 32px;
                }
                mat-icon {
                    margin-left: 14px;
                    width: 32px;
                    height: 32px;
                    font-size: 32px;
                }
                .create_pipeline_type_class {
                    display: flex;
                    flex-direction: column;
                    margin-top: 16px;
                    p {
                        color: var(--ais-color-text);
                        margin: 0px;
                        font-size: 12px;
                    }
                    h3 {
                        color: var(--L1-tabs-disabled-icon-color);
                        margin-top: 0px;
                        font-size: 16px;
                        font-family: 'Inter';
                        font-weight: 400;
                    }
                }
                 ::ng-deep a {
                    color: var(--L1-tabs-disabled-icon-color);
                    font-weight: 400;
                    cursor: pointer;
                }
            }
        }
    }
}

.model-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.btn {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    padding: 12px 24px;
    border-radius: 5px;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: 0.2s ease;
    font-weight: 600;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.btn-sm {
    font-size: 14px;
    padding: 10px 25px;
}

.btn-primary {
    background: #DE6262;
    color: #fff;
    border-color: #DE6262;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
    background: #cc0036 !important;
    border-color: #cc0036 !important;
}

.btn-outline-primary {
    background: transparent;
    color: #DE6262 !important;
    border-color: #DE6262;
}

.btn-outline-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary.active {
    background: #cc0036 !important;
    border-color: #cc0036 !important;
    color: #fff !important;
}

mat-divider {
    border-top-color: #DEE2EF !important
}

.modal-footer {
    height: 65px;
    border-top-color: 1px solid #dee2e6;
    ;
}

.tutor-card-i {
    margin: 10px;
    color: #de6262;
}

.tutor-card-span {
    display: block;
    background: #f5ebeb;
    padding: 15px;
    border-radius: 35px;
    margin: 5px;
}

.user-type-card {
    padding: 15px;
    border: 1 px solid #495057;
    color: #495057;
    font-weight: 600;
    border: 1px solid #ced4da;
    justify-content: center;
    cursor: pointer;
}

.user-type-card:hover {
    background: #de6262;
    color: #fff;
}

.card-input-element:checked+.user-type-card {
    background: #de6262;
    color: #fff;
}