<div class="full_screen">

    <div class=" section_1 row align-items-center">
        <div class="col-lg-7 text-center ">
            <h2 class="mb-4">Find The Perfect Tutor</h2>
            <p class="mb-4">Are you searching for a one on one tutor who can provide your child with a tailored learning experience?</p>
            <button class="btn btn-primary">Get Started</button>
        </div>
        <div class="col-lg-5 d-lg-block">
            <img src="images/banner-9.png" alt="illustration" class="img-fluid">
        </div>
    </div>

    <div class=" section_1 row align-items-center">
        <div class="row">
            <div class="col-lg-5 d-lg-block">
                <img src="images/banner-8.png" alt="illustration" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 mb-4">
                <h2 class="section-title">Get An Expert Tutor Now</h2>

                <div data-aos="fade-up" data-aos-delay="500" class="single-feature d-flex mb-4">
                    <div class="feature-content">
                        <span class="feature-content-icon"><i
                      class="fa-solid fa-pen-to-square"></i> Post Requirement </span>
                        <p>Share your learning requirements with us, and we'll find the perfect tutor to match your needs and help you succeed.</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="500" class="single-feature d-flex mb-4">
                    <div class="feature-content">
                        <span class="feature-content-icon"><i
                      class="fa-solid fa-person-chalkboard"></i> Get Free Demo </span>
                        <p>Schedule a free demo session with a nearby Tutorzila certified tutor today and experience the difference in your child's learning journey.</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="500" class="single-feature d-flex mb-4">
                    <div class="feature-content">
                        <span class="feature-content-icon"><i
                      class="fa-regular fa-handshake"></i> Start Learning </span>
                        <p>After a successful demo session, select the ideal plan that suits your needs, and embark on your learning journey with our dedicated tutor</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class=" section_1 row align-items-center">
        <div class="row">

            <div class="col-md-5">
                <h2 class="section-title mb-4">Meet Our Teachers</h2>
                <p>At Tutorzila, we take pride in our team of highly qualified and passionate educators. Our teachers are the backbone of our commitment to providing quality education and personalized learning experiences. Get to know the professionals who
                    are dedicated to helping your child succeed.</p>
            </div>
            <div class="col-md-7">
                <div id="carouselExampleControls" class="carousel" data-ride="carousel">
                    <div class="carousel-inner mb-4">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                            <li data-target="#carouselExampleControls" data-slide-to="2"></li>

                        </ol>

                        <div class="carousel-item active" data-slide-to="0">
                            <div class="tutor-card">
                                <div class="img-wrapper text-center">
                                    <img class="rounded-circle shadow-1-strong mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar" style="width: 150px;" />
                                    <h6>Annu Singh</h6>
                                </div>

                                <div class="tutor-card-body">
                                    <div>
                                        <i class="fa-solid fa-book tutor-card-i"></i>Math,Science & English
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-graduation-cap tutor-card-i"></i>Teaches K-2 & 3-5
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-id-card-clip tutor-card-i"></i>3+ Years in Teaching
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-slide-to="1">
                            <div class="tutor-card">
                                <div class="img-wrapper text-center">
                                    <img class="rounded-circle shadow-1-strong mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar" style="width: 150px;" />
                                    <h6>Nithin Singh</h6>
                                </div>

                                <div class="tutor-card-body">
                                    <div>
                                        <i class="fa-solid fa-book tutor-card-i"></i>Math,Science & English
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-graduation-cap tutor-card-i"></i>Teaches K-2 & 3-5
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-id-card-clip tutor-card-i"></i>3+ Years in Teaching
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-slide-to="2">
                            <div class="tutor-card">
                                <div class="img-wrapper text-center">
                                    <img class="rounded-circle shadow-1-strong mb-4" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(6).webp" alt="avatar" style="width: 150px;" />
                                    <h6>Pawan Tiwari</h6>
                                </div>

                                <div class="tutor-card-body">
                                    <div>
                                        <i class="fa-solid fa-book tutor-card-i"></i>Math,Science & English
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-graduation-cap tutor-card-i"></i>Teaches K-2 & 3-5
                                    </div>
                                    <div>
                                        <i class="fa-solid fa-id-card-clip tutor-card-i"></i>3+ Years in Teaching
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="tutor-control-prev tutor-control" data-target="#carouselExampleControls" data-slide="prev">
                                <i class="fa-solid fa-circle-chevron-left"></i></span>
                            <span class="tutor-control-next tutor-control" data-target="#carouselExampleControls" data-slide="next">
                                <i class="fa-solid fa-circle-chevron-right"></i>
                           </span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class=" section_1 row align-items-center">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-7 text-center text-lg-left">
                <h2 class="mb-4">Teach, Inspire, and Earn with Tutorzila</h2>
                <p class="mb-4">Are you passionate about teaching and making a positive impact on students' lives? Join Tutorzila as a tutor and be part of our mission to provide quality education and personalized learning experiences. Share your expertise, inspire students,
                    and help them reach their academic goals.</p>
                <button type="submit" class="btn btn-primary">Register Now</button>
            </div>
            <div class="col-lg-5 d-lg-block d-none">
                <img src="images/banner-11.png" alt="illustration" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="section_1 row align-items-center">

        <h2 class="section-title">Become A Certified Tutor With Us</h2>
        <div class="row">
            <div class="col-lg-5 d-lg-block">
                <img src="images/banner-12.png" alt="illustration" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 mb-4">

                <div class="single-feature d-flex mb-4">
                    <div class="feature-content">
                        <span class="feature-content-icon"><i class="fa-solid fa-pen-to-square"></i> Create Profile
                            </span>
                        <p>Register as a home tutor and we'll match you with the perfect student that aligns with your profile.</p>
                    </div>
                </div>
                <div class="single-feature d-flex mb-4">
                    <div class="feature-content">
                        <span class="feature-content-icon"><i class="fa-solid fa-person-chalkboard"></i> Quality
                                Training </span>
                        <p>Prepare to elevate your teaching skills with our specialized training program, tailored to enhance your lesson delivery.
                        </p>
                    </div>
                </div>
                <div class="single-feature d-flex mb-4">
                    <div class="feature-content">
                        <span class="feature-content-icon"><i class="fa-regular fa-handshake"></i> Start Teaching
                            </span>
                        <p>Provide a free demo session at student's home and get hired to start your teaching journey.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="section_1 row align-items-center">
        <h2 class="section-title">What Our Parents Are Saying</h2>
        <div class="row">

            <div class="container">
                <br>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">

                        <div class="item active">
                            <div> message 1</div>
                        </div>

                        <div class="item">
                            <div>msg 2</div>
                        </div>

                        <div class="item">
                            <div>msg 3 </div>
                        </div>




                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <footer>


        <div class="container">
            <div class="row border-bottom">
                <div class="col-xs-12 col-sm-4 col-md-4">

                    <h5>About Tutorzila</h5>
                    <p class="p-0">Tutorzila is formed in 2023.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://www.fiverr.com/share/qb8D02">Find Tutor</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02">Become Tutor</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02">Terms & Conditions</a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Find Us</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-envelope"></i><span>info&#64;tutorzila.com</span></a></li>
                        <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-phone"></i>+918971126362</a></li>
                    </ul>


                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 col-xs-12 p-2 text-center">
                    <ul class="list-inline social-icons ">
                        <li class="list-inline-item"><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa-brands fa-github-alt"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 p-2 text-center">
                    <small>Copyright © 2023 <a href="https://www.tutorzila.com">Tutorzila</a></small>
                </div>
            </div>


        </div>
    </footer>
</div>